<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script></head>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
    <a class="navbar-brand brand-text" href="#">
        <img src="/images/logo.png" width="30" height="30" alt="logo">
        Course Tracker
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbar-list">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/addcourse}">Add Course</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2 class="text-center mb-2">Update Course</h2>
        </div>
        <div class="col-md-3"></div>
    </div>
    <h2 class="mb-5"></h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <form action="#" th:action="@{/update/{id}(id=${course.id})}" th:object="${course}" method="post" th:method="put">
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Course Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="category" class="col-form-label">Category</label>
                        <input th:field="*{category}" class="form-control" id="category" placeholder="Course Category"></input>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="rating" class="col-form-label">Course Rating</label>
                        <select th:field="*{rating}" class="form-control" id="rating">
                            <option th:value="1">1 (Lowest)</option>
                            <option th:value="2">2</option>
                            <option th:value="3">3</option>
                            <option th:value="4">4</option>
                            <option th:value="5">5 (Highest)</option>
                        </select>
                        <span th:if="${#fields.hasErrors('category')}" th:errors="*{rating}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-9">
                        <label for="description" class="col-form-label">Description</label>
                        <textarea th:field="*{description}" class="form-control" id="description" placeholder="Course Description"></textarea>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <input type="submit" class="btn btn-dark" value="Update Course">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>
